.app__into-container video {
    height: 768px;
    object-fit: cover;
}

.app__into-video {
    position: relative;
    background: #000;
}

.app__intro--videobtn {
    position: absolute;
    bottom: 50%;
    text-align: center;
    right: 50%;
}